body {
   margin: 24px;
   font-family: "Montserrat" !important;
}


/*start navbar*/

.invezta_nav_link {
   display: block;
   padding: 1.1rem 1rem !important;
   margin: -12px 4px;
}

.cross_mark img {
   color: #cccccc;
}


/*end navbar*/


/***start boxes****/

.portfolio {
   font-size: 48px;
   line-height: 43px;
   color: #5b5b5b;
   font-family: "Montserrat";
   font-weight: 300;
}

.target {
   display: block;
   font-size: 12px;
   color: #808080;
   font-weight: 500;
}

.target1 {
   display: block;
   font-size: 12px;
   margin-left: 58px;
   color: #808080;
   font-weight: 500;
}

.target2 {
   display: block;
   font-size: 12px;
   margin-left: 29px;
   color: #808080;
   font-weight: 500;
}

.target3 {
   display: block;
   font-size: 12px;
   margin-left: 85%;
   color: #808080;
   font-weight: 500;
}

.target4 {
   position: relative;
   font-size: 11px;
}

.box {
   background: #fff;
   margin: 15px;
   width: 198px;
   cursor: pointer;
   display: inline-block;
}

.box1 {
   background: #fff;
   margin: 15px;
   margin-left: 71px;
   cursor: pointer;
   width: 142px;
   display: inline-block;
}

.car_text {
   width: 129px;
   height: 75px;
   font-size: 44px;
   color: #4d4d4d;
   font-family: "Montserrat";
   font-weight: 600;
}

.l9_text {
   width: 182px;
   height: 74px;
   font-size: 44px;
   color: #4d4d4d;
   font-family: "Montserrat";
   font-weight: 600;
}

.jun_text {
   width: 240px;
   height: 61px;
   font-size: 43px;
   color: #4d4d4d;
   font-family: "Montserrat";
   font-weight: 600;
}

.sip_text {
   width: 167px;
   height: 78px;
   font-size: 44px;
   color: #4d4d4d;
   font-family: "Montserrat";
   font-weight: 600;
}

.amount_text {
   width: 192px;
   height: 83px;
   font-size: 39px;
   color: #4d4d4d;
   font-family: "Montserrat";
   font-weight: 600;
}

/*end boxes*/


/*start pie chart*/

.pie,
.c100 .bar,
.fill {
   position: absolute;
   border: 0.08em solid #425b77;
   width: 0.84em;
   height: 0.84em;
   clip: rect(0em, 0.5em, 1em, 0em);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
}

.c100 {
   position: relative;
   font-size: 120px;
   width: 1em;
   height: 1em;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   float: left;
   margin: 0 0.1em 0.1em 0;
   background-color: #14a388;
}

.c100 *,
.c100 *:before,
.c100 *:after {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.c100.center {
   float: none;
   margin: 0 auto;
}

.c100.big {
   font-size: 240px;
}

.c100>.debt {
   position: absolute;
   width: 100%;
   z-index: 1;
   left: 27%;
   top: 18%;
   width: 5em;
   line-height: 1em;
   font-size: 0.1em;
   color: #12d6b0;
   display: block;
   text-align: center;
   white-space: nowrap;
   -webkit-transition-property: all;
   -moz-transition-property: all;
   -o-transition-property: all;
   transition-property: all;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   transition-duration: 0.2s;
   -webkit-transition-timing-function: ease-out;
   -moz-transition-timing-function: ease-out;
   -o-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.c100>.equity {
   position: absolute;
   width: 100%;
   z-index: 1;
   left: 27%;
   top: 54%;
   width: 5em;
   line-height: 1em;
   font-size: 0.1em;
   color: #425b77;
   display: block;
   text-align: center;
   white-space: nowrap;
   -webkit-transition-property: all;
   -moz-transition-property: all;
   -o-transition-property: all;
   transition-property: all;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   transition-duration: 0.2s;
   -webkit-transition-timing-function: ease-out;
   -moz-transition-timing-function: ease-out;
   -o-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.c100:after {
   position: absolute;
   top: 0.08em;
   left: 0.08em;
   display: block;
   content: " ";
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   background-color: #fff;
   width: 0.84em;
   height: 0.84em;
   -webkit-transition-property: all;
   -moz-transition-property: all;
   -o-transition-property: all;
   transition-property: all;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   transition-duration: 0.2s;
   -webkit-transition-timing-function: ease-in;
   -moz-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.c100 .slice {
   position: absolute;
   height: 42px;
   clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p50 .bar {
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

.c100:hover {
   cursor: default;
}

.c100:hover>.debt {
   width: 3.33em;
   line-height: 1.2em;
   font-size: 0.13em;
   font-weight: bold !important;
   color: #12d6b0;
}

.c100:hover>.equity {
   width: 3.33em;
   line-height: 1.2em;
   font-size: 0.13em;
   font-weight: bold !important;
   color: #425b77;
}

.c100:hover:after {
   top: 0.04em;
   left: 0.04em;
   width: 0.92em;
   height: 0.92em;
}

/*end pie chart*/


/*plans*/

#plans.direct_plan {
   background: #14a388;
   float: left;
   font-family: 'Montserrat';
   margin: 15px 5px;
   overflow: hidden;
   width: 90%;
}

.franklin_plan {
   background: #13bc9c !important;
}

.icici_plan {
   background: #425b77 !important
}

#plans.direct_plan.box_border {
   border: 1px solid #e2d5d5;
   border-left: 5px solid #14a388;
}

.franklin {
   border-left: 0px !important;
   border: 1px solid #e2d5d5 !important;
}

#plans.direct_plan.box_border .planscontent {
   background: #ffffff;
}

#plans.direct_plan .price {
   display: block;
   overflow: hidden;
   width: 86px;
}

#plans.direct_plan .price.box_right {
   float: right;
   margin-top: 46px;
   color: #fff;
   font-size: 24px;
}

#plans.direct_plan .price.u-left {
   border-radius: 5px 0 0 5px;
   float: left;
}

#plans.direct_plan .planscontent {
   float: left;
   max-width: 90%;
   min-height: 103px;
   padding: 32px 15px;
   position: relative;
   width: calc(100% - 97px);
}

#plans.direct_plan .planscontent h2.planscontent_title {
   color: #000;
   font-weight: bold;
   font-size: 0.9em;
   line-height: 1.2em;
   margin: 3px 0;
}

#plans.direct_plan .planscontent p.planscontent_sub-title {
   color: #585555;
   font-size: .85em;
   line-height: 1.25em;
   margin: 9px 3px;
}

.investment span {
   margin-left: 100px;
   font-size: 16px;
   color: #666666;
   font-weight: 300;
}

.investment {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.investment li::before {
   content: "";
   margin-right: 10px;
   font-size: 9%;
   background-color: rgb(0, 200, 200);
   padding: 0px 4px;
   border-radius: 25px;
}

.franklin_circle span {
   margin-left: 100px;
   font-size: 16px;
   color: #666666;
   font-weight: 300;
}

.franklin_circle {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.franklin_circle li::before {
   content: "";
   margin-right: 10px;
   font-size: 9%;
   background-color: #13bc9c;
   padding: 0px 4px;
   border-radius: 25px;
}

.icici_circle span {
   margin-left: 100px;
   font-size: 16px;
   color: #666666;
   font-weight: 300;
}

.icici_circle {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.icici_circle li::before {
   content: "";
   margin-right: 10px;
   font-size: 9%;
   background-color: #425b77;
   padding: 0px 4px;
   border-radius: 25px;
}

/*endplans*/


/*start btns*/

.investing_btn {
   font-size: 20px;
   font-family: "Montserrat";
   font-weight: 500;
   text-align: center;
}

.btn-primary {
   color: #fff;
   background-color: #12d6b0 !important;
   border-color: #12d6b0 !important;
}

.btn {
   font-weight: 600;
   letter-spacing: 3px;
}

.bg-light {
   background: #efefef !important;
}
/*end btns*/




/*start media queires*/

@media screen and (max-width: 992px) {
   body {
      margin: 0px;
   }
   .cross_mark img {
      margin-bottom: 43px;
      cursor: pointer;
   }
   .investment span {
      margin-left: 0px;
      display: inline-block;
   }
   .franklin_circle span {
      margin-left: 0px;
      display: inline-block;
   }
   .icici_circle span {
      margin-left: 0px;
      display: inline-block;
   }
   #plans.direct_plan .price.box_right {
      margin-top: 81px;
   }
   .portfolio {
      font-size: 36px;
   }
   .box1 {
      margin-left: 12px;
      display: inline-block;
   }
   #plans.direct_plan {
      width: 100%;
   }
   #plans.direct_plan {
      margin: 7px auto;
   }
}


/*end media queries*/